.store-main {
    padding: 5vh 0 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 7vh;
    background-color: #90cde3;
}

.store-main>p {
    color: blueviolet;
    font-size: 1.1rem;
    align-self: flex-start;
    margin-left: 10vw;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
}

.inner-store {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50vh 50vh 50vh;
    column-gap: 1vw;
    row-gap: 4vh;
}