/* *************Card******************** */

.store-main {
    padding: 5vh 0 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 7vh;
    background-color: #90cde3;
}

.store-main>p {
    color: blueviolet;
    font-size: 1.2rem;
    align-self: flex-start;
    margin-left: 10vw;
}

.inner-store {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50vh 50vh 50vh;
    column-gap: 1vw;
    row-gap: 4vh;
}

.pagination {
    color: #7645d8;
    display: block;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1.2rem;
    border: 3px solid #7645d8;
    border-radius: 99px;
    padding: 5px 15px;
}

.pagination:hover {
    color: white;
    background-color: #7645d8;
    cursor: pointer;
}