/* *************Card******************** */

.store-main {
    padding: 5vh 0 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 7vh;
    background-color: #90cde3;
}

.store-main>p {
    color: blueviolet;
    font-size: 1.2rem;
    align-self: flex-start;
    margin-left: 10vw;
}

.inner-store {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50vh 50vh;
    column-gap: 1vw;
    row-gap: 4vh;
}

.card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: 0px 0px 78px -22px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 78px -22px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 78px -22px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.card:hover {
    cursor: pointer;
    outline: 5px solid #7645d8;
    box-shadow: rgb(30, 14, 62) 1px 5px 15px
}

.card .image-wrapper {
    flex: 1 1 65%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 2px solid white;
    border-radius: 8px;
}

.card .image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/**** for discount ***/

.card .discount-percent {
    top: 2vh;
    left: 2vh;
    position: absolute;
    height: 14vh;
    width: 14h;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 2rem;
    background-color: #7645d8;
    color: white;
    z-index: 2;
    padding: 3vh;
}

/*************** for new ************/

.card .discount-percent {
    top: 10px;
    left: 10px;
    font-size: 1.2rem;
    padding: 5px;
    height: unset;
}

.card .discount-percent span {
    display: inline-block;
    height: 8vh;
    width: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .info-wrapper {
    flex: 1 1 35%;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 2rem;
    text-align: center;
    padding-top: 7px;
}

.card .info-wrapper button {
    word-spacing: -5px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.card .info-wrapper p {
    color: #7645d8;
    font-size: 1.2rem;
}

.card .info-wrapper button:hover {
    border: #7645d8;
}

.card .info-wrapper .info-price {
    font-weight: bold;
    font-size: 1.4rem;
}

.pagination {
    color: #7645d8;
    display: block;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1.2rem;
    border: 3px solid #7645d8;
    border-radius: 99px;
    padding: 5px 15px;
}

.pagination:hover {
    color: white;
    background-color: #7645d8;
    cursor: pointer;
}