.inner-nav {
    font-size: 1.2rem;
    font-family: "Ubuntu Mono", monospace !important;
    padding: 2vh 0;
}

.inner-nav span {
    color: white;
}

.inner-nav a {
    color: blueviolet;
    transition: all 0.3s ease-out;
}

.inner-nav a:hover {
    color: white;
}

@media screen and (max-width: 500px) {
    .inner-nav {
        font-size: 1.5rem;
    }
}