.upper-nav {
    height: 17vh;
    width: 100%;
    padding: 1vh 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.6 ease;
}

.user-div {
    color: #7645d8;
    display: flex;
    height: 50px;
}

.user-div li {
    &:not(:last-of-type) {
        >a {
            border-right: 1px solid white;
        }
    }
}

.user-div li a {
    display: flex;
    gap: 15px;
    padding: 0 40px;
    height: 50px;
    width: 180px;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.3s ease;
    font-family: Montserrat, sans-serif;


    >p {
        font-size: 1.1rem;
    }
}

.user-div li a i {
    transition: all 0.3s ease;
    position: relative;
}


.user-div li a:hover {
    color: #7645d8;
    background-color: #272034;
    border-radius: 3px;
}

.upper-nav .user-div .active {
    color: #7645d8;
    background-color: white;
    border-radius: 3px;
}

.smaller {
    width: 140px;
}

.cart-item {
    position: absolute;
    display: block;
    height: 15px;
    width: 15px;
    top: -20px;
    right: -10px;
    line-height: 1;
    font-size: 8px;
    color: white;
    font-weight: 600;
    background-color: blueviolet;
    border-radius: 20px;
    text-align: center;
    padding: 2px;
}


@media screen and (max-width: 1100px) {

    .upper-nav {
        padding: 1vh 5vh;

    }

}

@media screen and (max-width: 500px) {

    .upper-nav {
        padding: 1vh 0;
        flex-direction: column;

        >div:nth-of-type(2) {
            width: 100%;
        }
    }

    .user-div {
        justify-content: space-around;
        height: 35px;
    }

    .user-div li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .user-div li a {
        padding: 0;
        height: unset;
        width: unset;
    }

    .search-bttn {
        color: white;
        background-color: transparent;
        border: none;
        font-size: 1.4rem;
        transition: color 0.3s ease, transform 0.5s ease-out;
    }

    .search-bttn:hover {
        color: #90cde3;
        cursor: pointer;
        transform: scale(1.1);
    }

    .user-div li a:hover {
        color: #90cde3;
        background-color: transparent;
        transform: scale(1.1);
    }

}