.upper-nav {
    height: 17vh;
    width: 100%;
    padding: 1vh 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.6 ease;
}

.user-div {
    color: #7645d8;
    display: flex;
    gap: 7vw;
}

.user-div li a {
    display: flex;
    width: 3vw;
    height: 10vw;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.3s ease;
}

.user-div li a i {
    transition: all 0.3s ease;
}


.user-div li a:hover {
    color: #7645d8;

    >i {
        text-shadow: -1px 1px 13px white;
    }
}

.user-div li a i {
    text-shadow: -1px 1px 13px rgba(0, 0, 0, 0.6);
    transition: text-shadow -.7 ease;
}