footer .middle-footer {
    display: flex;
    gap: 5vw;
    font-size: 1.2rem;
    align-items: flex-start;
}

footer .middle-footer .about {
    flex: 1 1 30%
}

footer .middle-footer .faq {
    flex: 1 1 12%
}

footer .middle-footer .links {
    flex: 1 1 12%
}

footer .middle-footer .links ul,
footer .middle-footer .faq ul {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

footer .middle-footer div>h3 {
    margin-bottom: 10px;
}


footer .middle-footer ul li {
    transition: all 0.1s ease;
}

footer .middle-footer ul li a {
    color: white;
}


footer .middle-footer ul li a:hover {
    cursor: pointer;
    color: #90cde3;
}