footer .middle-footer {
    display: flex;
    gap: 5vw;
    align-items: flex-start;
}

footer .middle-footer .about {
    flex: 1 1 50%
}

footer .middle-footer .faq {
    flex: 1 1 12%
}

footer .middle-footer .faq li,
footer .middle-footer .links li,
footer .middle-footer .about p {
    font-family: 'Montserrat', sans-serif;
}

footer .middle-footer .links-wrapper {
    display: flex;
    gap: 20px;
    flex: 1 1 50%
}


footer .middle-footer .links {
    flex: 1 1 12%
}


footer .middle-footer .links ul,
footer .middle-footer .faq ul {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

footer .middle-footer div>h3 {
    margin-bottom: 10px;
    text-decoration: underline;
}


footer .middle-footer ul li {
    transition: all 0.1s ease;
}

footer .middle-footer ul li a {
    color: white;
}

footer .middle-footer ul li a:hover {
    cursor: pointer;
    color: #90cde3;
}

@media screen and (max-width: 500px) {

    footer .middle-footer {
        flex-direction: column;
        height: 100%;
    }

    .links-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer .middle-footer div:nth-of-type(1) p {
        line-height: 1;
    }
}