.card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: 0px 0px 78px -22px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 78px -22px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 78px -22px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.card:hover {
    cursor: pointer;
    outline: 5px solid #7645d8;
    box-shadow: rgb(30, 14, 62) 1px 5px 15px
}

.card .image-wrapper {
    flex: 1 1 65%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 2px solid white;
    border-radius: 8px;
}

.card .image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .info-bubble {
    position: absolute;
    background-color: #7645d8;
    border-radius: 50%;
    color: white;
    z-index: 2;
    top: 10px;
    left: 10px;
    font-size: 1.1rem;
    padding: 5px;
    height: unset;
}

.card .info-bubble span {
    display: inline-block;
    height: 8vh;
    width: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .info-wrapper {
    flex: 1 1 35%;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    /* font-size: 1.2rem; */
    text-align: center;
    padding: 2px 10px;
    width: 100%;
}

.card .info-wrapper button {
    word-spacing: -5px;
    font-size: 1rem;
    width: 100%;
}

.card .info-wrapper p {
    color: #7645d8;
    font-size: 1.2rem;
}

.card .info-wrapper .info-price {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1;
}

.card button {
    border-width: 2px;
}

@media screen and (max-width: 500px) {

    .card .info-wrapper {
        justify-content: space-between;
        padding-bottom: 5px;
    }
}