.discounts {
    height: 120vh;
    width: 100%;
    display: flex;
    background-color: #100721;
    justify-content: center;
    align-items: center;
}

.discount-wrapper {
    min-height: 60vh;
    width: 80%;
    background-color: #90cde3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 8vh 8vh 8vh;
    border-radius: 4px;
    position: relative;
    z-index: 2;
}

.discount-wrapper>* {
    position: relative;
    z-index: 2;
}

.discount-wrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0.2;
    background: rgb(2, 23, 30);
    background: radial-gradient(circle, rgba(2, 23, 30, 1) 54%, rgba(4, 79, 110, 1) 90%, rgba(4, 87, 122, 1) 99%);
}

.discount-wrapper hr {
    width: 40%;
    height: 2px;
    background-color: white;
    border: none;
    margin-bottom: 5vh;
}

.discount-header {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 2vh;
}

.line-through {
    text-decoration: line-through;
}

@media screen and (max-width: 1200px) {
    .discount-wrapper {
        min-height: 60vh;
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .discounts {
        height: 100vh;
        width: 100%;
    }

    .discount-wrapper {
        height: 50vh;
        width: 90%;
    }


    .discount-header {
        font-size: 2rem;
    }

}

@media screen and (max-width: 750px) {

    .discount-wrapper {
        height: 50vh;
        width: 100%;
        padding: 3vh 0 7vh;
    }


    .discount-header {
        text-align: center;
        color: white;
        font-size: 2rem;
        margin-bottom: 2vh;
    }

}

@media screen and (max-width: 500px) {

    .discounts {
        height: unset;
        padding: 25vw 0;
    }

    .discounts h2 {
        font-size: 2.5rem;
    }

    .discount-wrapper {
        padding: 0;
        height: fit-content;
        padding: 30px 0;
    }

}