.consider {
    height: 60vh;
    color: white;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    gap: 10vh;
    position: relative;
    background: url("../../../../public/images/Sunday-Reading-Under-the-Sea.webp")bottom/ cover no-repeat;
}

.consider>* {
    position: relative;
}

.consider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    background: rgb(2, 23, 30);
    background: radial-gradient(circle, rgba(2, 23, 30, 1) 31%, rgba(4, 79, 110, 1) 72%, rgba(5, 108, 151, 1) 86%, rgba(1, 162, 222, 1) 97%);
}

.consider ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.consider ul li {
    width: 20%;
    height: 20vh;
}

.consider ul li div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
}

.consider ul li div p {
    text-align: center;
}

.consider ul li div>* {
    text-shadow: -1px 1px 13px rgba(0, 0, 0, 0.6);
    position: relative;
}

.consider h2 {
    font-size: 3.3rem;
    text-shadow: -1px 1px 13px rgba(0, 0, 0, 0.6);
}

.consider .free,
.consider .secure-checkout>i>i {
    color: #100721;
    position: absolute;
    font-weight: 800;
    text-shadow: none;
    left: 12px;
    top: -10px;
    font-size: 1.6rem;

}

.consider .free {
    font-size: 0.8rem;
    left: 8px;
    top: -8px;
}