.best-sellers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
    background: #100721;
    color: white;
    padding: 15vh 0;

}

.best-sellers-heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.6rem;
    text-decoration: underline;

}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 380px;
    gap: 10px;
}