aside {
    position: fixed;
    top: 50%;
    right: 40px;
    transform: translatey(-50%);
    z-index: 7;
    display: none;
}

aside li a {
    display: block;
    margin-bottom: 20px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid white
}