.related-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 5vw;
    gap: 2vh;
    color: white;
}

.related-items h2 {
    color: blueviolet;
    text-transform: uppercase;
}

.related-items .inner-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 8vh;
}

.related-items .inner-wrapper>* {
    flex-basis: 24%;
    height: 25vw;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px) {

    .related-items .inner-wrapper {
        padding: 5vw 2vw 7vw;
        display: flex;
        justify-content: space-between;
        row-gap: 20px;
        column-gap: 10px;
        flex-wrap: wrap;
    }

    .related-items .inner-wrapper>* {
        flex-basis: 38vw;
        height: 58vw;
        display: flex;
        flex-direction: column;
    }
}