.media {
    display: flex;
    gap: 20px;
}

.media i {
    transition: all 0.3s ease-out;
}

.media i:hover {
    color: blueviolet;
    cursor: pointer;
}

@media screen and (max-width: 500px) {

    .media p {
        font-size: 1.4rem;
    }

    .media i {
        font-size: 2rem;
        line-height: 1;
    }
}