.price-wrapper {
    display: flex;
    gap: 10vw;
    align-items: center;
}

.btn-wrapper {
    border: 2px solid blueviolet;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    height: 80%;
    border-radius: 4px;
    overflow: hidden;
}

.price-wrapper .btn-wrapper button {
    border: none;
    height: 100%;
    width: 40px;
    background-color: white;
    color: blueviolet;
    transition: all 0.3s ease-out;

    &:nth-of-type(1) {
        border-right: 2px solid blueviolet;
    }

    &:nth-of-type(2) {
        border-left: 2px solid blueviolet;
    }
}

.btn-wrapper button:hover {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}


.btn-wrapper span {
    display: inline-block;
    width: 3vw;
    text-align: center;
}