.detail-wrapper {
    background-color: #90cde3;
    position: relative;
}

.detail-wrapper button {
    transition: all 0.7s ease;
}

.detail-wrapper p {
    font-family: 'Montserrat', sans-serif;
}

.upper-detail {
    width: 100%;
    display: flex;
    padding: 5vw;
    gap: 5vw;
    position: relative;
}

/* .upper-detail button {
    text-transform: none;
    font-size: 1.5rem;
    border: 2px solid rgba(118, 69, 216, 1);
} */

hr {
    border: white;
    height: 2px;
    background-color: white;
}

.middle-hr {
    width: 90%;
    margin: 2vh auto;
}