.card {
    flex: 1 0 200px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;
}

.content {
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    opacity: 0;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    background: rgb(2, 2, 46);
    background: linear-gradient(0deg,
            rgba(2, 2, 46, 0.6755077030812324) 0%,
            rgba(255, 255, 255, 0) 100%);
    transform: translatey(100%);
    transition: opacity 0.5s ease-in-out, transform 0.2s 0.1s;
    visibility: hidden;
}

.card:hover {
    flex: 1 1 380px;
    box-shadow: 1px 3px 15px #7645d8;
    transform: translatey(-50px);
}

.card:hover .content {
    opacity: 1;
    transform: translatey(0%);
    visibility: visible;
}

.card span {
    display: block;
    margin-top: 5px;
    font-size: 1.6rem;
}