.gallery-wrapper {
    flex-basis: 60%;
    display: flex;
    gap: 16px;
    max-height: 80vh;
    position: sticky;
    top: 100px;
}

.gallery-wrapper img:hover {
    cursor: pointer;
}

.gallery-wrapper .aside-gallery {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gallery-wrapper .aside-gallery li {
    overflow: hidden;
    flex-basis: 25%;
    height: 100%;
    width: 100%;
}

.gallery-wrapper .aside-gallery img {
    transition: all 0.4s ease-in-out;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-wrapper .aside-gallery img:hover {
    opacity: 0.7;
    scale: 1.1;
}

.gallery-wrapper .active-image {
    flex-basis: 80%;
    height: 100%;
}

.gallery-wrapper .active-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


@media screen and (max-width:500px) {

    .gallery-wrapper .aside-gallery {
        flex-direction: row;
        height: 20vw;
        flex-basis: unset;
    }

    .gallery-wrapper .aside-gallery li {
        height: unset;
    }

    .gallery-wrapper {
        position: static;
        flex-direction: column-reverse;
        flex-basis: unset;
        height: unset;
    }

    .gallery-wrapper .active-image {
        flex-basis: unset;
        height: 80vw;
    }
}