.search-form {
    position: relative;
}

.search-form input {
    height: 5vh;
    width: 20vw;
    color: white;
    background-color: #272034;
    border: 1px solid rgba(118, 69, 216, 1);
    border-radius: 4px;
    font-size: 20px;
}

.search-form input:focus {
    outline: none;
    -webkit-box-shadow: inset 2px -1px 14px -4px rgba(118, 69, 216, 1);
    -moz-box-shadow: inset 2px -1px 14px -4px rgba(118, 69, 216, 1);
    box-shadow: inset 2px -1px 14px -4px rgba(118, 69, 216, 1);
}

.search-form .search-btn {
    all: unset;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translatey(-50%);
}

.search-form button:hover {
    cursor: pointer;
}

.search-form i {
    display: block;
    color: #7645d8;
}