.search-form {
    position: relative;
}

.search-form input {
    height: 50px;
    width: 25vw;
    color: white;
    background-color: #272034;
    border: 1px solid rgba(118, 69, 216, 1);
    border-radius: 4px;
    font-family: Montserrat, sans-serif;
    text-indent: 10px;
    transition: all 0.3s ease-in;
}

.search-form input:focus {
    outline: 1px solid blueviolet;
    background-color: white;
    color: #7645d8;
}

.search-form .search-btn {
    all: unset;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translatey(-50%);
}

.search-form button:hover {
    cursor: pointer;
}

.search-form i {
    display: block;
    color: #7645d8;
}