.card {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-out;
}

.card:hover {
    cursor: pointer;
}

.card:hover img {
    opacity: 0.8;
}

.card .discount-image {
    flex: 1 1 60%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-right: 3px solid white;
}

.card .discount-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.card .discount-image .discount-percent {
    top: 2vh;
    left: 2vh;
    position: absolute;
    height: 14vh;
    width: 14h;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 2rem;
    background-color: #7645d8;
    color: white;
    z-index: 2;
    padding: 3vh;
}

.card .discount-image .discount-percent span {
    display: inline-block;
    height: 8vh;
    width: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .discount-info {
    flex: 1 1 40%;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 2rem;
    padding: 2vh;
    text-align: center;
}

.card .discount-info button {
    word-spacing: -5px;
}

.discount-price {
    color: #7645d8;
    font-size: 2.1rem;
    font-weight: 600;
}


@media screen and (max-width: 1000px) {
    .discounts {
        height: 100vh;
        width: 100%;
        display: flex;
        background-color: #100721;
        justify-content: center;
        align-items: center;
    }

    .discount-wrapper {
        height: 50vh;
        width: 90%;
    }


    .card .discount-image .discount-percent {
        font-size: 1.3rem;
    }

    .card .discount-info {
        font-size: 1.5rem;
    }

    .discount-price {
        font-size: 1.3rem;
    }

    .card .discount-info button {
        font-size: 1rem;
    }
}


@media screen and (max-width: 500px) {

    .card {
        flex-direction: column;
    }

    .card .discount-info {
        font-size: 2rem;
        padding: 10px;
        height: 40%;
        width: 100%;
        gap: 0;
        justify-content: space-around;
    }

    .discount-price {
        font-size: 2rem;
    }

    .card .discount-info button {
        font-size: 1.5rem;
    }

    .card .discount-image {
        height: 60%;
        width: 100%;
        border-right: none;
        border-bottom: 3px solid white;
    }
}