.lower-nav {
    height: 15vh;
    background-color: #272034;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px groove #7645d8;
}

.lower-nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.lower-nav ul a {
    position: relative;
    color: white;
    text-shadow: 3px 0px 3px rgba(0, 0, 0, 0.64);
    font-weight: 900;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

.lower-nav ul a>img {
    transition: all 0.4s ease;
}

.lower-nav ul a>span {
    transition: font-size 0.4s ease;
}

.lower-nav ul a:hover {
    >img {
        animation-name: shake;
        animation-duration: 0.4s
    }

    >span {
        font-size: larger;
    }
}

.lower-nav img {
    height: 70px;
    width: auto;
}

.lower-nav ul li {
    &:nth-of-type(3) {
        &>a {
            &>img {
                height: 85px;
            }
        }
    }

    &:nth-of-type(5) {
        &>a {
            &>img {
                height: 60px;
            }
        }
    }
}


.lower-nav span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.active {
    >img {
        transform: scale(1.2);
    }

    >span {
        font-size: larger;
        color: #90cde3;
    }
}

.lower-nav .active:hover img {
    animation: none;

}