.table-wrapper {
    width: 65vw;
    padding-right: 30px;
}

.table-wrapper button {
    display: block;
    margin: 50px auto;
}

@media screen and (max-width:500px) {
    .table-wrapper {
        width: 100%;
        padding: 14px;
    }
}