header {
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    border-bottom: 3px groove black;
    background: url("../../../public/images/Sunday-Reading-Under-the-Sea.webp") top / cover no-repeat;
    opacity: 0.9;
}

header>* {
    position: relative;
    z-index: 2;
}

header::before {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    background: rgb(2, 23, 30);
    background: radial-gradient(circle, rgba(2, 23, 30, 1) 31%, rgba(4, 79, 110, 1) 72%, rgba(5, 108, 151, 1) 86%, rgba(1, 162, 222, 1) 97%);
}