.dropdown {
    transition: display 0.8s ease-in;
    position: relative;
}

.dropdown>a {
    border-right: 1px solid white;
}

.dropdown-content {
    position: absolute;
    display: none;
    left: -2vw;
    top: 7vh;
    width: 15vw;
    padding: 16px 30px;
    gap: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #73a9bc;
    font-size: 1.2rem;
    border: 1px solid white;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
}

.dropdown:hover {

    >a {
        color: #7645d8;
        background-color: #272034;
        border-radius: 3px;
    }

    .dropdown-content {
        display: flex;
    }
}

.dropdown .dropdown-content .dropdown-link {
    color: white;
    display: block;
    width: 100%;
    transition: color 0.2s ease-in;
    line-height: 1.8;
    font-size: 1.1rem;
    padding: unset;
    height: unset;
    text-align: left;
}

.dropdown .dropdown-content .dropdown-link:hover {
    color: #7645d8;
    background-color: unset;
    font-style: italic;
}

.dropdown-content hr {
    width: 100%;
    border-color: white;
    height: 1.1px;
    background-color: white;
}

.dropdown .store-link.active {
    color: #7645d8;
    background-color: white;
    border-radius: 3px;
}


@media screen and (max-width: 500px) {

    .dropdown {
        padding-top: 26px;
        height: 50px;
        width: 50px;
    }

    .dropdown-content {
        width: 60vw;
        top: 50px;
        left: -20vw;
    }

    .dropdown .dropdown-content .dropdown-link {
        font-size: 1.6rem;
        text-align: center;
        padding: 6px;
    }

    .dropdown .dropdown-content .dropdown-link:hover {
        background-color: transparent;
        transform: none;
        font-style: italic;
    }

    .dropdown:hover {
        >a {
            color: white;
            background-color: transparent;
        }

        .dropdown-content {
            display: none;
        }

    }


}