.middle-section {
    display: flex;
    background-color: #90cde3;
    color: white;
    font-family: Montserrat, sans-serif;
    /* gap: 50px;   */
    padding: 20px 50px 30px;
    position: relative;
}

.middle-section table {
    border-collapse: collapse;
}

.middle-section thead {
    border-bottom: 2px solid white;
}

.middle-section table {
    width: 100%;
}

.middle-section th {
    text-align: left;
    text-transform: uppercase;
}

.middle-section td {
    text-align: left;
    padding: 16px 0
}

.middle-section tr {
    border-bottom: 1px solid white;
}

.middle-section button {
    color: white;
    background-color: blueviolet;
    text-transform: none;
    border-radius: 6px;
    border: 1px solid blueviolet;
    padding: 10px 80px;
    font-size: 1.1rem;
    transition: all 0.3s ease-out;
}

.middle-section button:hover {
    cursor: pointer;
    color: blueviolet;
    background-color: white;
}

@media screen and (max-width:500px) {

    .middle-section {
        flex-direction: column;
        padding: 0;
    }
}