@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    min-height: 100vh;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
}

main {
    min-height: 100vh;
}

.purple-btn {
    color: #7645d8;
    background-color: white;
    padding: 6px 18px;
    border-radius: 4px;
    border: 3px solid #7645d8;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
}

.purple-btn:hover {
    cursor: pointer;
    color: white;
    background-color: #7645d8;
    /* border: 3px groove white; */
}

.logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
}

.logo p {
    font-size: 8rem;
    font-weight: 900;
    color: white;
    z-index: 7;
    text-shadow: -1px 1px 13px rgba(0, 0, 0, 0.6);
    transition: all 0.6 ease;
}

.carousel {
    height: 50vh;
    width: 60%;
    overflow: hidden;
    border-radius: 8px;
}

.carousel:hover {

    >.flickity-prev-next-button {
        background-color: white;
        opacity: 0.6;

        >.flickity-button-icon {
            fill: #7645d8;
        }
    }
}

.carousel .carousel-cell {
    width: 100%;
    height: 100%;
}

.flickity-prev-next-button {
    width: 35px;
    height: 100%;
    border-radius: 2px;
    background-color: transparent;
    transition: all 0.6s ease;

    >.flickity-button-icon {
        fill: transparent;
        transition: all 0.5s ease;
    }
}

.carousel .flickity-prev-next-button:hover {
    opacity: 1;
}

.flickity-prev-next-button.previous {
    left: 0px;
}

.flickity-prev-next-button.next {
    right: 0px;
}

.flickity-page-dots {
    bottom: 0px;
}

.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
    background: white;
}

.blueviolet {
    color: #7645d8;
}

.bold {
    font-weight: 600;
}

.line-through {
    text-decoration: line-through;
}

.salmon {
    color: salmon;
}

.dark-salmon {
    color: rgb(217, 96, 83)
}

.lighter-violet {
    color: #7645d88e;
}

.smaller {
    font-weight: 400;
    font-size: smaller;
}