@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

body {
    min-height: 100vh;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
}

main {
    min-height: 100vh;
}

.purple-btn {
    color: #7645d8;
    background-color: white;
    padding: 6px 18px;
    border-radius: 4px;
    border: 3px groove #7645d8;
    font-size: 1.6rem;
    text-transform: uppercase;
    transition: all 0.7s ease;
}

.purple-btn:hover {
    cursor: pointer;
    color: white;
    background-color: #7645d8;
    border: 3px groove white;
}