footer {
    position: relative;
    height: fit-content;
    width: 100%;
    border-top: 3px groove #7645d8;
    background: url("https://www.andbeyond.com/wp-content/uploads/sites/5/5-surprising-facts-about-coral-reefs.jpg") bottom / cover no-repeat;
    color: white;
    padding: 8vh 0 0 3vh;
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

footer>* {
    z-index: 2;
    position: relative;
}

footer::before {
    content: "";
    top: 0;
    left: 0;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(2, 23, 30);
    background: radial-gradient(circle, rgba(2, 23, 30, 1) 31%, rgba(4, 79, 110, 1) 72%, rgba(5, 108, 151, 1) 86%, rgba(1, 162, 222, 1) 97%);
}