.card {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-out;
}

.card:hover {
    cursor: pointer;
}

.card .discount-image {
    flex: 1 1 65%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-right: 3px solid white;
}

.card .discount-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .discount-image .discount-percent {
    top: 2vh;
    left: 2vh;
    position: absolute;
    height: 14vh;
    width: 14h;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 2rem;
    background-color: #7645d8;
    color: white;
    z-index: 2;
    padding: 3vh;
}

.card .discount-image .discount-percent span {
    display: inline-block;
    height: 8vh;
    width: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .discount-info {
    flex: 1 1 35%;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
    text-align: center;
}

.card .discount-info button {
    word-spacing: -5px;
    font-size: 1rem;
}

.newest-arrivals {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    background-color: #90cde3;
    padding: 10vh 0 20vh 0;
}

.newest-arrivals h2 {
    color: white;
    font-size: 2.5rem;
    text-decoration: underline;
    text-shadow: rgba(0, 0, 0, 0.58) 8px 1px 32px;
}

.inner-arrivals {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2vw;
    row-gap: 3vw;
}

.newest-arrivals .card {
    flex-direction: column;
    background-color: white;
    -webkit-box-shadow: 0px 0px 78px -22px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 78px -22px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 78px -22px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.newest-arrivals .card:hover {
    outline: 5px solid #7645d8;
    box-shadow: rgb(30, 14, 62) 1px 5px 15px
}

.newest-arrivals .card .discount-image {
    border: 2px solid white;
    border-radius: 8px;
}

.newest-arrivals .card .discount-percent {
    top: 10px;
    left: 10px;
    font-size: 1.2rem;
    padding: 5px;
    height: unset;
}

.newest-arrivals .card .discount-info {
    padding: 20px;
}

.newest-arrivals .card .discount-info p {
    color: #7645d8;
    font-size: 1.2rem;
}

.newest-arrivals .card .discount-info button {
    font-size: 1.1rem;
}