.newest-arrivals {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    background-color: #90cde3;
    padding: 10vh 0 20vh 0;
}

.newest-arrivals h2 {
    color: white;
    font-size: 2.5rem;
    text-decoration: underline;
    text-shadow: rgba(0, 0, 0, 0.58) 8px 1px 32px;
}

.inner-arrivals {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50vh 50vh;
    column-gap: 1vw;
    row-gap: 4vh;
}