.welcome-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 2rem;
    line-height: 1;
    position: relative;
    z-index: 3;
}

.welcome-wrapper .heading-wrapper {
    z-index: 4;
    position: absolute;
    left: 10vw;
}

.nemo {
    font-size: 6rem;
}

.video-div {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: #90cde3;
}

.video-div video {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 950px) {

    .video-div {
        height: auto;
    }

}

@media screen and (max-width: 600px) {

    .welcome-wrapper .heading-wrapper {
        z-index: 4;
        position: absolute;
        left: 20px;
    }

}


@media screen and (max-width: 470px) {

    .welcome-wrapper .heading-wrapper {
        z-index: 4;
        position: absolute;
        left: 10px;
        font-size: 1.4rem;
    }

    .nemo {
        font-size: 4rem;
    }

}