.profile-wrapper{
    min-height: 50vh;
    background-color: #90cde3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    color: white;
    font-family: Montserrat ;
    padding: 20px 0 45px;    
}

.profile-wrapper button{
    text-transform: none;    
}

.user-info {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.user-info h1{
    margin-bottom: 30px;
}

.user-info .inner-info{
    width: 400px;
    text-align: left;
}

.user-info .inner-info button{
    font-size: 16px;
    text-transform: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 8px;
    margin-left: 16px;
    transition: all .6s;
}

.user-info .inner-info button:hover{
    color: #90cde3;
    background-color: white;
}

.user-info .inner-info p{
    margin-bottom: 10px;
    font-size: 19px;
}