.info-wrapper {
    flex-basis: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.info-wrapper h1 {
    font-size: 1.9rem;
}

.info-wrapper h2 {
    font-size: 2.3rem;
}

.info-wrapper h3 {
    font-size: 1.6rem;
}

.info-wrapper p {

    line-height: 1.6;
}

.info-wrapper h1,
.info-wrapper h3 {
    color: rgba(118, 69, 216, 1);
    margin-bottom: 10px;
}


.info-wrapper button {
    text-transform: none;
    font-size: 1.5rem;
    border: 2px solid rgba(118, 69, 216, 1);
}