.info-wrapper {
    flex-basis: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.info-wrapper h1 {
    font-size: 1.9rem;
}

.info-wrapper h2 {
    font-size: 2.3rem;
}

.info-wrapper h3 {
    font-size: 1.6rem;
}

.info-wrapper p {

    line-height: 1.6;
}

.info-wrapper h1,
.info-wrapper h3 {
    color: rgba(118, 69, 216, 1);
    margin-bottom: 10px;
}


.info-wrapper button {
    text-transform: none;
    font-size: 1.5rem;
    border: 2px solid rgba(118, 69, 216, 1);
}

@keyframes shake {

    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(30deg);
    }

    20% {
        transform: rotate(0deg) ;
    }

    30% {
        transform: rotate(-30deg) scale(1.2);
    }

    40% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
    }

    60% {
        transform: rotate(0deg) scale(1.4);
    }

    70% {
        transform: rotate(-30deg);
    }

    80% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(30deg) scale(1.2);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }

}

.info-wrapper button:hover {
    >i {
        animation-name: shake;
        animation-duration: 0.5s;
    }

}