.why-choose-us {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 60vh;
    width: 100%;
    position: relative;
    background: url("../../../../public/images/Sunday-Reading-Under-the-Sea.webp") 0 -18vh / cover no-repeat;
}

.why-choose-us>* {
    z-index: 2;
}

.why-choose-us::before {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    content: "";
    background: rgb(2, 23, 30);
    background: radial-gradient(circle, rgba(2, 23, 30, 1) 31%, rgba(4, 79, 110, 1) 72%, rgba(5, 108, 151, 1) 86%, rgba(1, 162, 222, 1) 97%);
}

.inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}

.icon-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-weight: 600;
    word-spacing: -5px;
    gap: 10vw;
}

.inner-wrapper h2 {
    font-size: 3.4rem;
    word-spacing: -10px;
    text-shadow: -1px 1px 13px rgba(0, 0, 0, 0.6);
}

.icon-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    font-size: 1.8rem;
}

.icon-holder>* {
    text-shadow: -1px 1px 13px rgba(0, 0, 0, 0.6);
}


@media screen and (max-width: 850px) {

    .why-choose-us {
        height: 40vh;
    }

    .inner-wrapper h2 {
        font-size: 2.4rem;
    }

    .inner-wrapper {
        gap: 5vh;
        justify-content: center;
    }

    .icon-holder {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 700px) {

    .why-choose-us,
    .inner-wrapper {
        height: 30vh;
    }

    .icon-holder {
        height: 7vh;
    }
}


@media screen and (max-width: 520px) {

    .why-choose-us {
        height: unset;
        background: url("../../../../public/images/Sunday-Reading-Under-the-Sea.webp") top left / cover no-repeat;

    }

    .inner-wrapper {
        padding: 5vh 0 10vh;
        height: unset;
        gap: 10vh;
        justify-content: space-evenly;
        align-items: center;
    }

    .icon-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 10vh;
    }


    .inner-wrapper h2 {
        font-size: 4rem;
    }

    .icon-holder {
        font-size: 1.8rem;
    }
}