.store-heading {
    background: #100721;
    height: 50vh;
    width: 100%;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 1);
}

.store-heading h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 23px rgba(0, 0, 0, 1);
    margin-bottom: 3vh;
}

.store-heading h1 hr {
    width: 30%;
    margin: 0 auto;
    border-color: #90cde3;
    height: 2px;
    background-color: #90cde3;
}

.store-heading p {
    padding: 3vh 15vw;
    font-size: 1.2rem;
    line-height: 1.7;

}

.store-heading img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.store-info {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 5vh 0;
}